
.blogSection{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.blogSection h1{
    font-size: 300%;
    font-family: 'Poppins', sans-serif;
}

.category{
    font-family: 'Ubuntu', sans-serif;
    color: crimson;
    font-weight: 100;
    text-align: center;
}

.blogSection p {
    width: 50%;
    text-align: left;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.featured_image{
    width: 80%;
    border: 1px solid black;
}

.post-meta-wrapper{
    margin: 20px;
    list-style-type:none;
    margin-bottom: 80px;
}

@media (max-width: 947px){

    .blogSection p {
        width: 90%;
    }
    

    .blogSection img{
        width: 90%;
    }

    /* .featured_image{
        width: 100%;
    }
} */

    .blogSection p {
        text-align: justify;
    }
}